@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-roboto: "Roboto", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  color-scheme: light dark;
}

.mask-radial {
  -webkit-mask-image: radial-gradient(circle, white 60%, transparent 100%);
  mask-image: radial-gradient(circle, white 60%, transparent 100%);
}

@keyframes pulse-slow {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 8s ease-in-out infinite;
}

@keyframes blobSlow {
  0% {
    border-radius: 60% 40% 65% 35% / 55% 45% 60% 40%;
  }
  33% {
    border-radius: 50% 60% 40% 70% / 60% 40% 70% 30%;
  }
  66% {
    border-radius: 65% 35% 55% 45% / 40% 60% 35% 65%;
  }
  100% {
    border-radius: 60% 40% 65% 35% / 55% 45% 60% 40%;
  }
}

@keyframes blobMedium {
  0% {
    border-radius: 70% 30% 60% 40% / 50% 50% 45% 55%;
  }
  50% {
    border-radius: 40% 60% 30% 70% / 65% 35% 50% 50%;
  }
  100% {
    border-radius: 70% 30% 60% 40% / 50% 50% 45% 55%;
  }
}

.animate-blob-slow {
  animation: blobSlow 14s ease-in-out infinite;
}

.animate-blob-medium {
  animation: blobMedium 10s ease-in-out infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
  @apply bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200 transition-colors;
}
